In [1]:
import numpy as np
import pandas as pd
import difflib
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [2]:
data=pd.read_csv('Global Colleges DataSet new.csv',encoding='cp1252')
data.head()

,Sl.No,College_Name,Country,Rank,Fees,Avg Package
0,1.0,Massachusetts Institute of Technology (MIT),United states,1,62000.0,170000.0
1,2.0,Stanford University,United states,2,85000.0,185000.0
2,3.0,Carnegie Mellon University,United states,3,60000.0,150000.0
3,4.0,Harvard University,United states,7,58000.0,145000.0
4,5.0,"University of California, Berkeley (UCB)",United states,8,45000.0,150000.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sl.No         502 non-null    float64
 1   College_Name  265 non-null    object
 2   Country       265 non-null    object
 3   Rank          265 non-null    object
 4   Fees          265 non-null    float64
 5   Avg Package   265 non-null    float64
dtypes: float64(3), object(3)
memory usage: 24.1+ KB

In [4]:
data.isnull().sum()

Sl.No            10
College_Name    247
Country         247
Rank            247
Fees            247
Avg Package     247
dtype: int64

In [5]:
data = data.dropna(subset=['College_Name','Country', 'Fees', 'Avg Package'])
data.isnull().sum()

Sl.No           0
College_Name    0
Country         0
Rank            0
Fees            0
Avg Package     0
dtype: int64

In [6]:
data_encoded = pd.get_dummies(data['Country'], dtype=int)
data = pd.concat([data, data_encoded], axis=1)
data.head()

,Sl.No,College_Name,Country,Rank,Fees,Avg Package,Australlia,Canada,Germany,United Kingdom,United states
0,1.0,Massachusetts Institute of Technology (MIT),United states,1,62000.0,170000.0,0,0,0,0,1
1,2.0,Stanford University,United states,2,85000.0,185000.0,0,0,0,0,1
2,3.0,Carnegie Mellon University,United states,3,60000.0,150000.0,0,0,0,0,1
3,4.0,Harvard University,United states,7,58000.0,145000.0,0,0,0,0,1
4,5.0,"University of California, Berkeley (UCB)",United states,8,45000.0,150000.0,0,0,0,0,1

In [7]:
data['ROI']=data['Avg Package']/data['Fees'].replace(0,1)
data.head()

,Sl.No,College_Name,Country,Rank,Fees,Avg Package,Australlia,Canada,Germany,United Kingdom,United states,ROI
0,1.0,Massachusetts Institute of Technology (MIT),United states,1,62000.0,170000.0,0,0,0,0,1,2.741935
1,2.0,Stanford University,United states,2,85000.0,185000.0,0,0,0,0,1,2.176471
2,3.0,Carnegie Mellon University,United states,3,60000.0,150000.0,0,0,0,0,1,2.500000
3,4.0,Harvard University,United states,7,58000.0,145000.0,0,0,0,0,1,2.500000
4,5.0,"University of California, Berkeley (UCB)",United states,8,45000.0,150000.0,0,0,0,0,1,3.333333

In [8]:
data=data.drop(['Australlia','Canada','Germany','United Kingdom','United states'],axis='columns')
data.head()

,Sl.No,College_Name,Country,Rank,Fees,Avg Package,ROI
0,1.0,Massachusetts Institute of Technology (MIT),United states,1,62000.0,170000.0,2.741935
1,2.0,Stanford University,United states,2,85000.0,185000.0,2.176471
2,3.0,Carnegie Mellon University,United states,3,60000.0,150000.0,2.500000
3,4.0,Harvard University,United states,7,58000.0,145000.0,2.500000
4,5.0,"University of California, Berkeley (UCB)",United states,8,45000.0,150000.0,3.333333

In [9]:
data['Country']=data['Country'].replace('Australlia','Australia')

In [10]:
data['Rank']=data['Rank'].astype(str).str.replace('=','',regex=False)

In [11]:
data_encoded = pd.get_dummies(data['Country'], dtype=int)
data = pd.concat([data, data_encoded], axis=1)
data.head()
data.to_excel('cpdata.xlsx',index=False)

In [12]:
features=['Fees','Avg Package','ROI','Australia','Canada','Germany','United Kingdom','United states']
scaler=MinMaxScaler()
data_feature=scaler.fit_transform(data[features])

In [13]:
print(data_feature)

[[7.29411765e-01 8.90510949e-01 1.20772381e-05 ... 0.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [1.00000000e+00 1.00000000e+00 3.99894926e-06 ... 0.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [7.05882353e-01 7.44525547e-01 8.62092323e-06 ... 0.00000000e+00
  0.00000000e+00 1.00000000e+00]
 ...
 [3.29411765e-01 1.60583942e-01 8.62092323e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.29411765e-01 1.60583942e-01 8.62092323e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.29411765e-01 1.60583942e-01 8.62092323e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]

In [14]:
countries=data['Country'].unique()
countries

array(['United states', 'United Kingdom', 'Germany', 'Canada',
       'Australia'], dtype=object)

In [ ]:
country_name=input('Among United states,United Kingdom,Germany,Canada,Australia which country do you prefer')
match=difflib.get_close_matches(country_name,countries,n=1,cutoff=0.6)

if match:
    country=match[0]
else:
    print('Your country is not available')
    country=None

In [ ]:
fees=float(input('Enter your Affordable Fees:'))

In [ ]:
package=float(input('Enter your Expected package after MS :'))

In [ ]:
roi=package/fees if fees!=0 else 0

In [ ]:
country_vector={'Australia':0,'Canada':0,'Germany':0,'United Kingdom':0,'United states':0}
if country in country_vector:
    country_vector[country]=1

In [ ]:
user_input_vector=[fees,package,roi] + list(country_vector.values())

In [ ]:
print(user_input_vector)

In [ ]:
user_scaled = scaler.transform([user_input_vector])
print(user_scaled)

In [ ]:
similarity_scores=cosine_similarity(user_scaled,data_feature)[0]
data['similarity']=similarity_scores

In [ ]:
recommendations=data.sort_values(by='similarity',ascending=False)[['College_Name', 'Country','Rank', 'Fees', 'Avg Package', 'ROI']].head(5)
print(recommendations)

In [ ]:
import pickle

with open('scaler.pickle','wb') as f:
    pickle.dump(scaler,f)
with open('features.pickle','wb') as f:
    pickle.dump(features,f)